*.iml
.gradle/
.kotlin/
**/build/
.idea/
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/appInsightsSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
*.hprof
*.log
*.jks
*.keystore
!debug.keystore
secrets.properties
keystore.properties
google-services.json
